.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  composes: mt-10 mb-15 from global;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
}

.title {
  composes: ml-10 text text_type_main-large from global;
}

.close {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  composes: mr-10 from global;
}

.img {
  width: 480px;
  height: 240px;
  composes: ml-5 mr-5 from global;
}

.description {
  font-size: 24px;
  composes: mt-4 text text_type_main-small from global;
}

.list {
  width: 520px;
  padding: 0;
  list-style-type: none;
  display: flex;
  composes: mt-8 text text_type_main-default text_color_inactive from global;
}

.item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  composes: mr-5 from global;
}

.item:last-child {
  margin: 0;
}

.span {
  composes: mt-2 text text_type_digits-default from global;
}