.wrapper {
  position: absolute;
  z-index: 2;
  width: 720px;
  height: 720px;
  border-radius: 40px;
  background-color: #1C1C21;
  display: flex;
  flex-direction: column;
  top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}

.inner {
  width: 520px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  composes: mt-30 mb-30 from global;
}

.digits {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  composes: text text_type_digits-large from global;
}

.text1 {
  font-size: 24px;
  composes: text text_type_main-small mt-8 from global;
}

.text2 {
  font-size: 16px;
  composes: text text_type_main-default mt-15 from global;
}

.text3 {
  font-size: 16px;
  composes: text text_type_main-default text_color_inactive mt-2 from global;
}

.done {
  width: 120px;
  height: 120px;
  composes: mt-15 from global;
}

.close {
  position: absolute;
  align-self: flex-end;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  composes: mr-10 mt-15 from global;
}